{% extends "page.html" %}

{% block head_extras %}

<meta name="description" content="Sparql EndPoint Interface.">

  	<header class="sparql_hideme">
		<p>{{ _('Sparql EndPoint Interface.') }}</p>
	</header>

<!-- Sparql base CSS/JS and Jquery -->

<link rel="stylesheet" href="{% url_for_static '/public_sparql/base_styles.css' %}">
<script src="{% url_for_static '/public_sparql/jquery-1.9.1.min.js' %}"></script>

<!-- Code Mirror CSS/JS -->

<link rel="stylesheet" href="{% url_for_static '/public_sparql/codemirror/lib/codemirror.css' %}">
<script src="{% url_for_static '/public_sparql/codemirror/lib/codemirror.js' %}"></script>
<script src="{% url_for_static '/public_sparql/codemirror/lib/mode.sparql.js' %}"></script>
<link rel="stylesheet" href="{% url_for_static '/public_sparql/codemirror/themes/default.css' %}">
    
{% endblock %}

{% block breadcrumb_content %}

  <li class="active">{{ _('Sparql Point') }}</li>
  
{% endblock %}

{% block primary %}

  	<header class="sparql_hideme">
		<p>{{ _('Sparql EndPoint Interface.') }}</p>
	</header>
	
    <div id="sparql_point_block">
        
        <h1>SPARQL Editor</h1>
        
        <div class="control-group control-full" 
        {% if h.sparql_hide_endpoint_url() %} 
        	style="display:none; " 
        {% endif %}>
        	<label class="control-label" for="field-sparql-server">{{ _('Sparql Point Server') }}</label>
            <div class="controls">
                <input id="field-sparql-server" type="text" name="sparql-server" value="{{h.sparql_endpoint_url()}}" placeholder="{{ _('Add the Sparql service URL. For Instance:') }} {{h.sparql_endpoint_url()}}">
            </div>
            <i class="icon-exclamation-sign"></i>&nbsp;<small>{{ _('Add the Sparql service URL. For Instance:') }} <abbr title="Sparql Point"><a target="_blank" href="http://semantic.ckan.net/sparql">http://semantic.ckan.net/sparql</a></abbr></small>
        </div>
        
		<i class="icon-comment"></i><small><abbr title="Code Mirror"><a target="_blank" href="http://codemirror.net/">&nbsp;{{ _('Created using Code Mirror for the interface') }}</a></abbr></small>
		<br><br>

		<div id="test_sparql" class="sparql_hideme"></div>

<textarea id="sparql_code" name="sparql_code"  resize="both">
# common prefixes
PREFIX aat: <http://vocab.getty.edu/aat/>
PREFIX cc: <http://creativecommons.org/ns#>
PREFIX dc: <http://purl.org/dc/elements/1.1/>
PREFIX dct: <http://purl.org/dc/terms/>
PREFIX dcat: <http://www.w3.org/ns/dcat#>
PREFIX dwc: <http://rs.tdwg.org/dwc/terms/>
PREFIX dwciri: <http://rs.tdwg.org/dwc/iri/>
PREFIX eol: <http://eol.org/pages/>
PREFIX event: <http://purl.org/NET/c4dm/event.owl#>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
PREFIX geo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX gn: <http://www.geonames.org/ontology#>
PREFIX gns: <http://sws.geonames.org/>
PREFIX lcsh: <http://id.loc.gov/authorities/subjects/>
PREFIX org: <http://www.w3.org/ns/org#>
PREFIX prov: <http://www.w3.org/ns/prov#>
PREFIX r4r: <http://guava.iis.sinica.edu.tw/r4r/>
PREFIX schema: <http://schema.org/>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX time: <http://www.w3.org/2006/time#>
PREFIX txn: <http://lod.taxonconcept.org/ontology/txn.owl#>
PREFIX voaf: <http://purl.org/vocommons/voaf#>
PREFIX wd: <http://www.wikidata.org/ontology#>
PREFIX wde: <http://www.wikidata.org/entity/>
PREFIX odw: <http://odw.tw/>
PREFIX article: <http://data.odw.tw/article/>
PREFIX data: <http://data.odw.tw/record/>
PREFIX code: <http://data.odw.tw/code/>
PREFIX r1: <http://data.odw.tw/r1/>
PREFIX project: <http://data.odw.tw/project/>
PREFIX agent: <http://data.odw.tw/agent/>
PREFIX evt84: <http://data.odw.tw/event/>
PREFIX voc: <http://voc.odw.tw/ontology#>

# put your SPARQL query here.
SELECT * 
WHERE {
  	?s ?p ?o
      } 
LIMIT 20
</textarea>

        <button id="sparql_btn" class="btn" onclick="call_sparql_point_server();">{{ _('Submit Query') }}</button>
        
        <div id="sparql_link_query" class="control-group control-full">
            <label class="control-label" for="field-link-sparql-server-query">{{ _('Permanent links') }}</label>
            
            <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank" id="go_to_link_query_json">{{ _('JSON Format') }}<i class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below') }})</b></small><br>
            <div class="controls">
                <input id="field-link-sparql-server-query_json" type="text" name="sparql-server-query" value="" placeholder="">
            </div>
            
            <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank" id="go_to_link_query_turtle">{{ _('TURTLE Format') }}<i class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below') }})</b></small><br>
            <div class="controls">
                <input id="field-link-sparql-server-query_turtle" type="text" name="sparql-server-query" value="" placeholder="">
            </div>
            
            <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank" id="go_to_link_query_csv">{{ _('CSV Format') }}<i class="icon-link"></i></a></abbr><b>&nbsp;&nbsp;({{ _('You can copy the permanent link below') }})</b></small><br>
            <div class="controls">
                <input id="field-link-sparql-server-query_csv" type="text" name="sparql-server-query" value="" placeholder="">
            </div>
            
            <i class="icon-info-sign"></i>&nbsp;<small><abbr title="Link Query"><a target="_blank" id="go_to_link_query_query">{{ _('Permanent Link for this Query (To save your Query)') }}<i class="icon-link"></i></a></abbr></small>
            
            
        </div>
        <br>
    	<div id="loading_image" class="span8 offset1">
			<center><img src="{% url_for_static '/public_sparql/gif-load.gif' %}" alt="Loading"></center>
			<br>
			<br>
			<br>
		</div>
        
        <div id="sparql_results"></div>
    
    </div>
  
{% endblock %}

{% block secondary %}{% endblock %}

{% block scripts %}
  {{ super() }}  
  
	{% set current_url = request.environ.CKAN_CURRENT_URL %}
  
  <!-- Base JS -->
  
  <script src="{% url_for_static '/public_sparql/base.js' %}"></script>
  
  <script type="text/javascript">
  
  	$(document).ready(function(){
	  var sparql_query = GetURLParameter('view_code');
	  if (sparql_query != "" && sparql_query != undefined) {
	  	editor.setValue(decodeURIComponent((sparql_query+'').replace(/\+/g, '%20')));
	  }
	});
  
  </script>
  
{% endblock %}
